sample_data/*
!sample_data/.gitkeep

sample_output/*
!sample_output/.gitkeep

sample_gt_cropped/*
!sample_gt_cropped/.gitkeep

sample_gt_uncropped/*
!sample_gt_uncropped/.gitkeep

Media/*
!Media/.gitkeep

# model/*
# !model/.gitkeep

__pycache__/
*.pyc
